.flexible-table-container {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  white-space: nowrap;
  border-collapse: collapse;

  &_head {
    top: 0;
    z-index: 3;
    height: 36px;
    position: sticky;
    min-height: unset;
    background: #101014;
    white-space: nowrap;

    &_item {
      th {
        color: #71757a;
        padding: 0 12px;
        font-size: 12px;
        text-align: left;
        line-height: 36px;

        &:last-child {
          right: 0;
          z-index: 2;
          position: sticky;
          text-align: right;
          background: #101014;
        }
      }
    }
  }

  &_body {
    height: calc(100% - 36px);

    &_item {
      background: #101014;

      &.left-padding {
        & > td {
          &:first-child {
            padding-left: 20px !important;
          }
        }
      }

      & > td {
        height: 52px;
        color: #fff;
        padding: 0 16px;
        font-size: 12px;
        text-align: left;
        overflow: hidden;
        font-weight: 500;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          right: 0;
          z-index: 2;
          position: sticky;
          text-align: right;
          background: #101014;
        }
      }

    }

    &_btn {

    }
  }

  &_no-data {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
      display: flex;
      flex-direction: column;

      svg {
        margin: auto;
      }

      p {
        color: #71757a;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}