$main: #0095fa;
$main-opacity-05: rgba(0, 149, 250, 0.5);

$long: #20b26c;
$short: #ef454a;
$long-hover: #36c277;
$short-hover: #f55d58;
$background-main: #00121f;
$text-main: #fff;
$text-secondary: #71757a