@import "scss/color";

.checkbox-form-control {
  color: white;
  display: grid;
  cursor: pointer;
  font-weight: 400;
  grid-template-columns: 2.5em auto;

  &.large {
    font-size: 16px;
  }

  &.medium {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  &.small {
    font-size: 10px;
    line-height: 15px;
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;

    &:checked::before {
      transform: scale(1);
    }

    &::before {
      content: "";
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
    }

    &.large {
      width: 24px;
      height: 24px;

      &::before {
        width: 14px;
        height: 13px;
        clip-path: polygon(4% 40%, 0 55%, 41% 90%, 103% 16%, 95% 0%, 45% 65%);
      }
    }

    &.medium {
      width: 17px;
      height: 17px;

      &::before {
        width: 9px;
        height: 8px;
        clip-path: polygon(4% 40%, 0 55%, 41% 90%, 103% 16%, 95% 0%, 45% 65%);
      }
    }

    &.small{
      width: 15px;
      height: 15px;

      &::before {
        width: 10px;
        height: 9px;
        clip-path: polygon(4% 40%, 0 55%, 41% 90%, 103% 16%, 95% 0%, 45% 65%);
      }
    }

    &.gold {
      border: 1px solid $main;
      color: white;
      border-radius:2px ;

      &::before {
        background-color: white;
      }

      &:checked {
        background-color: $main;
      }
    }
  }
}